.red-text {
    color: red;
    font-size: 1.2rem;
}

.transactionHash{
    color: green;
    font-size: 1.4rem;
}

.certificatemaker {
    position: relative;
}

.certificatemaker__onTop {
    position: absolute;
    display: block;
    font-size: 1.4rem;
}

.certificatemaker__infor {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
}

.certificatemaker__name {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

.ui.segment {
    padding: 0 !important;
}

.ud-btn {
    cursor: pointer;
    width: 300px;
}

.ud-btn:hover {
    filter: brightness(90%);
}